<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729857640359-v1gpcdb9g644trmt2ifq297sce0apa1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729857640359-v1gpcdb9g644trmt2ifq297sce0apa1k</string>
	<key>API_KEY</key>
	<string>AIzaSyD-VTOvCc37GwnJ8XsdlEhucN1nn6sObks</string>
	<key>GCM_SENDER_ID</key>
	<string>729857640359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doleAttendance.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dole-qr-attendance-system</string>
	<key>STORAGE_BUCKET</key>
	<string>dole-qr-attendance-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729857640359:ios:6d486c06ee4f6f64d75882</string>
</dict>
</plist>